//mixin con parametros

@mixin textos($padding-top, $margin-left){
    padding-top: $padding-top;
    margin-left: $margin-left;
}

//mixin sin parametros

@mixin flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  repeat (5,1fr);
}